<!DOCTYPE html>
<html>

<head>
  <% include global/header%>
</head>
<main class="main-content">

  <body>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">


      <body>
    
        <br>
        <br>
        <br>
        <br>
    
        <h1 class = "landingpage">
          Popular Videos
        </h1>
      
<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <% for (var i =1; i < feedback.videos.length;  i++ ) { %>
      <li data-target="#carousel" data-slide-to="<%=i%>"></li>
      <%}%>
  </ol>
  <div class="carousel-inner">
    <a href="/video/:<%=feedback.videos[0].url%>"></a><div class="carousel-item active">
     <iframe  class = "ytframe"  id="player" width="100%%" height="100%" src="<%=feedback.videos[0].url%>">
      </iframe>
    </div></a>
    <% for (var i =1; i < feedback.videos.length;  i++ ) { %>
      <a href="/video/:<%=feedback.videos[0].url%>"></a><div class="carousel-item">
       <iframe class = "ytframe" id="player" width="100%%" height="100%" src="<%=feedback.videos[i].url%>">
        </iframe>
      </div></a>
      <%}%>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
   
          <h1 class = "landingpage">
            Add a New Video
          </h1>
          <form  class = "landingpage" action="/video/:">
            <label for="url">Enter a youtube embeded url video link:</label>
            <input type="url" name="url" id="url" placeholder="https://www.youtube.com/embed/<video_ID>" pattern="https://www.youtube.com/embed/.*" size="30" required="">
            <br>
            <input class="main_action2" type="submit" value="Play video">
          </form>

      </body>
<div class = "messenger">
    <div id="room-container">
      <% Object.keys(feedback.rooms).forEach(room => { %>
      <div><%= room %></div>
      <a href="/<%= room %>"><button class = "sendbutton">Join Room</button></a>
      <% }) %>
    </div>
    <form action="/room" method="POST">
      <input id="message-input" name="room" type="text" required>
      <button class = "sendbutton" type="submit">New Room</button>
    </form>
  </div>
    </div>
  </body>
  <% include global/footer%>
</main>

</html>